{% extends 'base.html' %}
{% block content %}
<h1>Actualizar Vehículo</h1>
<form method="POST">

    <!-- Security token -->
    {% csrf_token %}
    
    <div class="form-group">
        {{ form.placa.label_tag }} 
        {{ form.placa }} 
    </div>

    <div class="form-group">
        {{ form.marca.label_tag }} 
        {{ form.marca }} 
    </div>

    <div class="form-group">
        {{ form.modelo.label_tag }} 
        {{ form.modelo }} 
    </div>

    <div class="form-group">
        {{ form.color.label_tag }} 
        {{ form.color }} 
    </div>

    <input type="submit" value="Actualizar" class="btn btn-primary">
</form>
{% endblock %}